@import '../../global.scss';

.question-type{
  border-color: $color-primary;
  border-style: solid;
  border-width: 1px;
  font-size: 11px;
  color: $color-primary;
  padding: 3px;
  margin-left: 10px;
}
.question-title{
  font-size: 13px;
  padding: 10px;
}

.question-choice{
  font-size: 13px;
}
.controls{
  margin-top: 15px;
  margin-bottom: 15px;
}

.exam-footer {
  padding: 10px;
  font-size: 13px;
  height: 27px;
  line-height: 27px;
  
  icon{
    font-size: 13px;
    margin-right: 5px;
    position: relative;
    top: -3px;
  }
}