@import '../../global.scss';

.question-type-container{
  height: 55rpx;
  line-height: 55rpx;
}
.question-type{
  border-color: $color-primary;
  border-style: solid;
  border-width: 1px;
  font-size: 11px;
  color: $color-primary;
  padding: 3px;
  margin-left: 10px;
}
.question-title{
  font-size: 13px;
  padding: 10px;
}

.question-choice{
  font-size: 13px;
}
.answers{
  margin: 15px;
  font-size: 25rpx;
}
.app-content{
  padding-bottom: 47px;
}

.exam-footer {
  position: fixed;
  bottom: -200px;
  font-size: 13px;
  line-height: 27px;
  transition: all 0.3s;
  z-index: 21;

  icon{
    font-size: 13px;
    margin-right: 5px;
    position: relative;
    top: -3px;
  }
  .control-container{
    padding: 10px;
  }
  .footer-bottom{
    height: 200px;
    overflow: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0px 10px;
    
    .question-index-container{
      padding: 5px;
      width: 31px;
      flex-grow: 0;
      span{
        border: solid 1px $color-primary;
        color: $color-primary;
        text-align: center;
        display: block;
        border-radius: 50%;
        height: 29px;
        width: 29px;
        line-height: 29px;
        &.active{
          background-color: $color-primary;
          color: #fff;
        }
      }
    }
  }
  & > view{
    background: #fff;
  }
  &.active{
    bottom: 0px;
  } 
}

.ui-list-item__content.info{
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.summary{
  text-align: center;
}

.exam-result-score{
  font-size: 40rpx;
}
