/**app.wxss**/
@import './weui.wxss';
@import './global.scss';
@import './iconfont.scss'; 

page{
  height: 100%;
  color: $color-text;
}

.app-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-header{
    height: 28px;
    background: $color-primary;
    color: $color-light;
    font-size: 13px;
  }
  .app-content{
    background: #efefef;
    overflow: auto;
    flex: 1;
  }
  .app-footer{
    background: #fff;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0, 0.1);
    overflow: hidden;
  }
}

button{
  font-size: 13px;
  &.weui-btn{
    margin-top: 10px;
    &:first-child{
      margin-top: 0px;
    }
  }

  &[type="primary"]{
    background-color: $color-primary;
    color: #fff;
    &.weui-btn.button-hover{
      background-color: darken($color-primary, 30%);
    }
    &[disabled]{
      background-color: lighten($color-primary, 20%);
    }
  }
  &.inset{
    margin-left: 10px;
    margin-right: 10px;
  }
}

icon[type="success"] {
  &.success{
    color: $color-primary;
  }
}

.text-center{
  text-align: center;
}

.app-footer.tabbar{
  height: 53px;
  & > view {
    text-align: center;
    font-size: 13px;
    color: $color-default;
    &.active{
      color: $color-primary;
    }
    icon{
      font-size: 23px;
    }
    span {
      position: relative;
      top: -5px;
    }
  }
}

$row-height: 100px;

.weui-grids.a4 {
  &.no-border{
    border-top: none;
    border-left: none;
  }
  .weui-grid{
    width: 25%;
    &.no-padding{
      padding: 0px;
    }
    &.no-border{
      border-right: 0px;
      border-bottom: 0px;
    }
    &.c2{
      width: 50%;
    }
    &.c3{
      width: 75%;
    }
    &.c4{
      width: 100%;
    }
    &.r1{
      height: $row-height;
    }
    &.r2{
      height: $row-height * 2;
    }
  }
}

.weui-panel__bd{
  padding: 1rem;
}